
/* Staticman comments related */
.comment {
  padding: .5em 0 .5em 10px;
  margin: 0;
}

.comment-admin {
  .comment__author > span {
    background-color: $lighter-gray;
    padding: 0 2px 0 5px;
  }
}

.comment-child {
  border-left: 10px #f2f3f3 solid;

  @include breakpoint($large) {
    padding-left: 5px;
    border-left: 25px #f2f3f3 solid;
  }
}

.comment__mention {
  font-style: italic;
  font-size: 12px;
  color: #494E52;

  span {
    font-weight: bold
  }
}

.comment__replybutton {
  font-size: 12px;

  span {
    font-weight: bold;
  }
}

.comment__replybutton:hover {
  text-decoration: underline;
  cursor: pointer;
}

#comment-form-replylabel {
  font-style: italic;
  font-size: 14px;

  a {
    font-style: normal;
  }

  a:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

#comment-form-replytext {
  font-weight: bold;
}

/*
 *  Related to language switcher inside breadcrumbs
 */

.language-switcher {
  margin: .4em 0;
  border-top: 1px solid $lighter-gray;
  border-bottom: 1px solid $lighter-gray;

  ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 1.1em;
    font-weight: bold;

    @include breakpoint($large) {
      justify-content: space-around;
    }

    li {
      margin: .5em;

      @include breakpoint($large) {
        margin: .5em auto;
      }

      &.active {
        background: $light-gray;
        color: white;
      }

      &:hover {
        background: $gray;
        cursor: pointer;
      }

      a {
        display: block;
        padding: .3em .5em;
        text-decoration: none;
        color: inherit;
      }
    }
  }
}
