{% if site.comments.disqus.shortname %}
  <script type="text/javascript">
  	var disqus_shortname = '{{ site.comments.disqus.shortname }}';

    var disqus_config = function () {
    this.page.url = "{{ page.url | absolute_url }}";
    this.page.identifier = "{{ page.id }}";
    };

    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document;
    var s = d.createElement('script');
    s.src = 'https://'+disqus_shortname+'.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);

    var s = d.createElement('script');
    s.src = 'https://'+disqus_shortname+'.disqus.com/count.js';
    s.setAttribute('id', 'dsq-count-scr'); s.async = true;
    (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endif %}
